.icon {
    font-size: 500px;
    color: red;
    /* fill: red; */
    /* filter:invert(1) */
}

.contenedor {
    max-width: 700px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 500px;
    height: 500px;
    background: #ff5858;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 30px;
    color: #ebfffb;
    font-size: 200px;
    transition: 0.3s ease all;
}

button:hover {
    background: #ebfffb;
    color: #ff5858;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.15);
}
